.cart-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    p {
        margin: 0;
        line-height: 1;
    }
}

.cart-item__title {
    flex-grow: 1;
}

.cart-item__details {
    display: flex;
    align-items: center;
}